<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Puga\Action\Api\ActionRepositoryInterface" type="Puga\Action\Model\ActionRepository"/>
    <preference for="Puga\Action\Api\Data\ActionInterface" type="Puga\Action\Model\Action"/>
    <preference for="Puga\Action\Api\Data\ActionSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="puga_action_action_listing_data_source" xsi:type="string">Puga\Action\Model\ResourceModel\Action\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Puga\Action\Model\ResourceModel\Action\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">puga_action_action</argument>
            <argument name="resourceModel" xsi:type="string">Puga\Action\Model\ResourceModel\Action</argument>
        </arguments>
    </virtualType>
</config>
